form {
    input {
        width: 80%;
        border: 0;
        padding: 15px;
        background: #e8e8e8;
        outline: none;
        box-shadow: none;
    }

    button {
        background: #4dc55d;
    }
}
